.header {
  padding: 0rem 1rem 0.4rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: white;
}
