.header {
  position: sticky;
  // z-index: -2;
  padding: 1rem 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background: white;
  .logotype {
    width: 7rem;
  }
  .buttons {
    display: flex;
    gap: 3rem;
    align-items: center;
    button {
      background: none;
      border: none;
    }
  }
}
